#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header label {
  cursor: pointer;
  user-select: none;
}
main {
  width: 100%;
}

main ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  list-style: none;
}
main ul li {
  cursor: pointer;
}
main ul img {
  object-fit: contain;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}
main ul img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(158, 152, 152, 0.267);
}
